Julia
-	The software shall show an error message if the user is searching for an invalid animal.
-	The software shall export information of all shelters to a json file when user click on “Export JSON” button
-	The software shall allow user to go back to the main screen after the user has gone to a different screen.


Nisa
-	As a functional requirement, there will be button or option features that the user can chose from to preform certain actions along with a message printed to the user on further instructions. 
-	As a supportability requirement, the system will detect the specific location that an error is occurring from and print an error message requesting the user to review the data given. 
-	As a performance/ reliability requirement, the system can track the amount of times that the program ran properly and its reliability rate of preforming accurately. 


Emma
-	The software must be able to accept xml files as input for putting new shelters and/or animals into the database.
-	The software should be able to recognize when the input of an xml file goes wrong and notify the user of the issue.
-	The software should prompt the user for manual input when an xml file does not include information for a shelter and/or animal that is necessary.


Iiman
-	The software shall log and save all new inputs of a new animal and its information i.e id and name to the associated shelter 
-	The software shall log all errors and failures to display information and the associated information i.e software prints out the class associated with error 
-	The software shall have a quit message displayed on every screen
